<html>
    <head>
        <title>Word Bucket</title>
    </head>
    <body>
        <h1>Word Bucket</h1>
        {{ d_message }}
        <form method="POST" id="form1">
            <input name="word_input" id="id_new_word" placeholder="Add new word" />
            <input name="explanation_input" id="id_new_eplanation" placeholder="Add explanation" />
            {% csrf_token %}
        </form>
        <button type="submit" form="form1" value="Submit">Submit</button>

        <table id="id_word_table">
            {% for word in words %}
                <tr><td><a href="{% url 'wordbucket:detail' word.id %}">{{ word.word }}</a></td></tr>
            {% endfor %}
        </table>
    </body>
</html>
